apiVersion: apps/v1
kind: Deployment
metadata:
  name: workspace-service-deployment
  namespace: hone-namespace
spec:
  replicas: 1
  selector:
    matchLabels:
      app: workspace-service
  template:
    metadata:
      labels:
        app: workspace-service
    spec:
      containers:
      - name: workspace-service
        image: IMAGE_PLACEHOLDER
        ports:
        - containerPort: 8080
        resources:
          limits:
            cpu: "1"
            memory: "500Mi"
          requests: 
            cpu: "0.5"
            memory: "250Mi"
        env:
        # TODO: workspace-service에 필요한 환경 변수들을 여기에 정의해야 합니다.
        - name: DB_HOST
          valueFrom:
            secretKeyRef:
              name: workspace-service-secrets
              key: DB_HOST
        - name: DB_PW
          valueFrom:
            secretKeyRef:
              name: workspace-service-secrets
              key: DB_PW

        readinessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 15

        livenessProbe:
          httpGet:
            path: /actuator/health
            port: 8080
          initialDelaySeconds: 40
          periodSeconds: 15

---
apiVersion: v1
kind: Service
metadata:
  name: workspace-service
  namespace: hone-namespace
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8080
  selector:
    app: workspace-service
